body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  background: white;
  margin-top: 60px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e8f0fe;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
}
.edit-btn,
.delete-btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Edit button styling */
.edit-btn {
  background: #ffa500; /* orange */
}

.edit-btn:hover {
  background: #cc8400;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #cc0000;
}
